---
import 'bootstrap/dist/css/bootstrap.min.css';


---



<div class="conteiner-fluid card border-success mb-3 mx-5 bg-info  " id="contacto" >
  <img class=" fondo mx-5 my-2   " src="whatsapp.jpg " alt="">
  <div class="card-header bg-transparent border-success text-center ">Reserva tu turno!</div>
  <div class="card-body text-success">
    <h5 class="card-title text-center">WhatsApp</h5>
    <p class="card-text text-center ">Si estas en tu movil o computadora con WhatsApp  abierto, podras comunicarte directamente para reservar tu turno!</p>
  </div>
  <div class="card-footer bg-transparent border-success mx-auto">
    <a href="https://wa.me/3764674458" class="btn btn-success" target="_blank" rel="noopener noreferrer">Enviar Mensaje</a>
  </div>
</div>