---
import 'bootstrap/dist/css/bootstrap.min.css';


---



<div class="conteiner-fluid card border-success mb-3 mx-5 bg-info   " id="contacto" style={{ background: 'linear-gradient(45deg, #FF8C00, #FF6347, #FF8C00)',  minHeight: '100vh'}} >
  <img class=" fondo mx-5 my-2 w-50 mx-auto " src="whatsapp.jpg " alt="">
  <div class="card-header bg-transparent border-success text-center text-white" ><h4> Reserva tu turno! </h4></div>
  <div class="card-body text-success">
    <h5 class="card-title text-center text-success">WhatsApp</h5>
    <p class="card-text text-center .text-success  " style="text-shadow: 0 0 8px white;">Si estas en tu movil o computadora con WhatsApp  abierto, podras comunicarte directamente para reservar tu turno!</p>
    
  </div>
  
  <div class="card-footer bg-transparent border-success  mx-auto">
    <a href="https://wa.me/3764674458" class="btn btn-success" target="_blank" rel="noopener noreferrer">Enviar Mensaje</a>
  </div>
  <hr class="border-success">
    <p class="card-text text-center text-success  " style="text-shadow: 0 0 8px white;">O puedes escanear el codigo QR con tu celular</p>
    <img class=" fondo mx-5 my-2 w-50 mx-auto " src="qr.jpg " alt="">
</div>