---
import 'bootstrap/dist/css/bootstrap.min.css';


---
<section class="conteiner   rouded border-2 row  "style={{ background: 'linear-gradient(45deg, #FF8C00, #FF6347)', minHeight: '100vh' }} >
  <div class=" w-75 m-auto ">
    <div class="conteiner-fluid col-sm ">
      <div class="backgraund-item active  ">
        <img src="/01.jpg" class="img  bg-opacity-50 d-block  w-100 figure-img img-md  rounded " alt="fondo" >
        <div class="carousel-caption    d-sm-block d-md-block bg-danger opacity-75 border border-2  ">
          <h5 >Bienvenidos</h5>
          <p>Esta es la web de juan toledo peluquero,</p>
        </div>
      </div>
  
  </div>
</section>
  


  <!-- <section class="home bg-danger ">
    <div class="background-image m-auto  ">
      <img src="04.jpg" alt="Imagen de fondo" class="img-fluid mt-50 mx-auto d-block" />
      <div class="container">
        <div class="content">
          <h1 class="title text-center">Bienvenidos a la Web de la peluqueria</h1>
          <h2 class="subtitle text-center">Juan Toledo Peluquero</h2>
          <p class="description text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            rutrum congue leo eget malesuada. Praesent neque nisl, tincidunt
            vitae enim a, ullamcorper hendrerit massa. Proin eget tortor risus.
          </p>
        </div>
      </div>
    </div>
  </section> -->