---
import 'bootstrap/dist/css/bootstrap.min.css';


---
<div class="conteiner-md " id="home">
  <div class="col-md row">
    <header class="col-md col-sm bg-secondary .text-primary text-center  "> 
      <!-- <h1>header</h1> -->
    </header>    
  </div>
  <section class="conteiner-fluid row text-center ">
    <article class="col-6 bg-danger border  border-4 rouded border-info text-white ">
      <h1>Descubre lo Último en Belleza</h1>
      <p>En nuestro sitio, te esperan las últimas tendencias y promociones exclusivas. Explora nuestra gama de precios y servicios, y sumérgete en consejos expertos para el cuidado del cabello. Todo esto y más, diseñado para ti.</p>
    </article>
    <aside class="col-6 bg-danger flex-row-reverse border  border-4 rouded border-info text-light ">
      <h2>Pensando siempre en ti</h2>
      <p> te ofrecemos una experiencia confortable y única. En nuestra peluquería, disfrutarás de un servicio excepcional y comodidades que aseguran tu satisfacción durante toda la visita. Descubre las ventajas y servicios exclusivos que tenemos para ti.</p>
    </aside>
  </section>

  <section class="conteiner-fluid row mx-auto  ">
    <div  class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-4 rouded border-danger  " >
      <img src="33.jpg" alt="backgraund-item " class="img-fluid border  border-2  mx-1 rounded  ">
      <h2 class="text-center">RetroGaming</h2>
      <p class="text-center">¿Listo para un cambio de look y diversión? Disfruta de nuestros juegos retro mientras esperas o te cortan el cabello. Ven y convierte la espera en un momento divertido en la peluquería, juegos aptos para todas las edades.</p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-4 rouded border-danger ">
      <img src="peli.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Cine en la Silla</h2>
      <p>Olvida el aburrimiento durante tu espera en la peluquería con nuestra proyección de películas. Una forma perfecta de relajarte y disfrutar mientras te miman con un nuevo look. ¡Ven y descubre la diferencia!</p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-4 rouded border-danger ">
      <img src="mate.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Mate & Estilo</h2>
      <p>Proximamente... una nueva forma de disfrutar tu visita a la peluquería con nuestro servicio de alquiler de mate. Podras tomar un buen mate mientras te atendemos en la peluqueria. ¡Muy pronto..!  </p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-4 rouded border-danger ">
      <img src="28.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Cabello en Armonía</h2>
      <p>No solo recibirás un excelente servicio, sino que también podrás comprar nuestros productos de cuidado capilar para uso diario. Descubre nuestra selección y dale a tu cabello el cuidado que se merece.</p>
    </div>
  </section>

</div>
