---
import 'bootstrap/dist/css/bootstrap.min.css';


---
<div class="conteiner-md " id="home">
  <div class="col-md row">
    <header class="col-md col-sm bg-secondary "> 
      <h1>header</h1>
    </header>    
  </div>
  <section class="conteiner-fluid row">
    <article class="col-6 bg-info ">
      <h1>tittle article</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, eveniet provident? Accusamus atque non, nihil iste veritatis unde dolores dolor ratione, corporis officiis ducimus amet asperiores quasi, molestiae illum aliquid.</p>
    </article>
    <aside class="col-6 bg-warning flex-row-reverse  ">
      <h2>aside</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sit excepturi modi, aspernatur quidem molestiae, laudantium autem iusto animi sunt dicta vero molestias? Ut autem incidunt nisi temporibus alias hic.</p>
    </aside>
  </section>

  <section class="conteiner-fluid row ">
    <div  class="backgraund-item active col-sm-6 col-md-3 bg-success border border-2 rouded " >
      <img src="06.jpg" alt="backgraund-item " class="img-fluid border border-2  mx-1 rounded  ">
      <h2 class="text-center">RetroGaming</h2>
      <p class="text-center">¿Listo para un cambio de look y diversión? Disfruta de nuestros juegos retro mientras esperas o te cortan el cabello. Ven y convierte la espera en un momento divertido en la peluquería, juegos aptos para todas las edades.</p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-2 rouded ">
      <img src="peli.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Cine en la Silla</h2>
      <p>Olvida el aburrimiento durante tu espera en la peluquería con nuestra proyección de películas. Una forma perfecta de relajarte y disfrutar mientras te miman con un nuevo look. ¡Ven y descubre la diferencia!</p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-2 rouded  ">
      <img src="mate.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Mate & Estilo</h2>
      <p>Descubre una nueva forma de disfrutar tu visita a la peluquería con nuestro servicio de alquiler de mate. Variedad de sabores para degustar mientras te atienden. ¡Reserva tu cita hoy mismo!</p>
    </div>
    <div class="backgraund-item active col-sm-6 col-md-3 bg-warning border border-2 rouded   ">
      <img src="28.jpg" alt="backgraund-item " class="img-fluid  border border-2  mx-1 rounded">
      <h2 class="text-center">Cabello en Armonía</h2>
      <p>No solo recibirás un excelente servicio, sino que también podrás comprar nuestros productos de cuidado capilar para uso diario. Descubre nuestra selección y dale a tu cabello el cuidado que se merece.</p>
    </div>
  </section>

</div>
