---
import Navbar from '../components/Navbar.astro';
import Banner from '../components/Banner.astro';
import Home from './Home.astro';
import Servicios from './Servicios.astro';
import Contacto from './Contacto.astro';
import Footer from '../components/Footer.astro';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Juan Toledo Peluquero</title>
		<meta name="description" content="Juan Toledo Peluquería unisex en Posadas, Misiones, Argentina. Ofrecemos cortes de pelo unisex, peinados, tratamientos de aLisado , Kerarina y videojuegos retros para entretener a nuestros clientes mientras son atendidos.">
        <meta name="keywords" content="peluquería, unisex, posadas, misiones, argentina, cortes de pelo unisex, peinados, tratamientos de aLisado , Kerarina , videojuegos retros">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Juan Toledo Peluquero">
        <meta name="og:title" content="Juan Toledo Peluquería">
        <meta name="og:description" content="Juan Toledo Peluquería unisex en Posadas, Misiones, Argentina. Ofrecemos cortes de pelo unisex, peinados, tratamientos Alisados y videojuegos retros para entretener a nuestros clientes mientras son atendidos.">
        <meta name="og:image" content="https://juantoledopeluquero.netlify.app/logoNuevo.png">
        <meta name="og:url" content="https://juantoledopeluquero.netlify.app/">
	</head>
	<>
		<Navbar/>
		<Banner/>
		<Home />
		<Servicios/>
		<Contacto/>
		<Footer/>
		

	</body>
</html>
