---
import 'bootstrap/dist/css/bootstrap.min.css';


---
<section class="conteiner   rouded border  border-3 row  "style={{ background: 'linear-gradient(45deg, #FF8C00, #FF6347)', minHeight: '100vh' }} >
  <div class=" w-75 m-auto ">
    <div class="conteiner-fluid col-sm border border rounded-1 ">
      <div class="backgraund-item active  border border-2 rouded  "style={{ background: '#9290C3' }} >
        <img src="/01.jpg" class="img  bg-opacity-50 d-block  w-100 figure-img img-md  rounded " alt="fondo" >
        <h5 class="text-center">¡Bienvenidos a la Web de Juan Toledo Peluquero!</h5>
        <p class="text-center">Por supuesto, aquí tienes una versión más concisa en tercera persona:

          ¡Bienvenidos a la Web de Juan Toledo Peluquero!
          
          Con 6 años de experiencia, Juan Toledo es un experto peluquero comprometido con la excelencia en cada servicio. En su salón, encontrarás un universo de estilo y sofisticación, donde cada corte y tratamiento capilar es realizado con precisión y dedicación. Únete a Juan Toledo y descubre cómo transforma tu cabello y estilo de vida. ¡Déjalo cuidarte y resaltar tu belleza natural!</p>
        </div>
      </div>
  
  </div>
</section>
  