---
import 'bootstrap/dist/css/bootstrap.min.css';


---
<section class="conteiner  row"id="banner"  style="background: linear-gradient(45deg, #000000, #3f024e); min-height: 100vh;" >
  <div class=" w-75  m-auto ">
    <div class="conteiner-fluid col-sm border border rounded-1 ">
      <div class="backgraund-item active  border border-2 rouded  " style="background: linear-gradient(40deg, #a4028e,  #e83515)" >
        <img src="/logoNuevo.png" class="img  bg-opacity-50 d-block  w-75 m-auto  figure-img img-md  rounded " alt="fondo" >
        <h1 class="text-center text-white">¡Bienvenidos a BETELGEUSE!</h1>
        <h4 class="text-center  " style="text-shadow: 0 0 8px white;" >Bienvenidos a la web de BETELGEUSE. En BETELGEUSE, contamos con más de 8 años de experiencia dedicados a transformar tu cabello y potenciar tu estilo. Somos un salón comprometido con la excelencia, donde cada servicio se realiza con precisión y pasión. Más allá de los cortes y tratamientos de alta calidad, BETELGEUSE es un espacio pensado para que disfrutes. Relájate con videojuegos retro y buena música mientras te cuidamos, haciendo de tu visita una experiencia única y divertida. Descubre la diferencia en BETELGEUSE: profesionalismo, estilo y un ambiente inigualable. ¡Te esperamos!</h4>
        </div>
      </div>
    </div>
</section>
  